<h1>Contact page, aight?!?!</h1>
<div class="form-horizontal form-group form-group-lg row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
    {{input type="email" value=emailAddress class="form-control" placeholder="Please type your damn e-mail address." autofocus="autofocus"}}
    {{textarea class="form-control" placeholder="Message here dammit. (At least 5 characters, mmkay?)" rows="7" value=message}}
    <button class="btn btn-primary btn-lg btn-block" disabled={{isDisabled}} {{action 'saveContact'}} >
      Get at me
    </button>
  </div>
</div>
<div class="{{if responseMessage "alert alert-success"}}">
  {{#if responseMessage}}
  {{responseMessage}}
  {{else}}
  <br/><br/><br/><br/>
  {{/if}}

</div>
